# Ignorar carpetas de entorno virtual
env/
.venv/

# Ignorar archivos temporales y cachés
__pycache__/
*.pyc
*.py0
*.pyd

# Ignorar configuración oculta
.env

# Ignorar archivos que NO queremos subir
config.ini
*.json
*.html

# Ignorar la DLL grande
PyQt/libmpv-2.dll

# Permitir sólo ciertos tipos de archivos
!*.py
!*.txt
!*.jpg
!*.jpeg
!*.keras
!*.h5
